{{ define "main" }}
<div class="archive">
  <h1>Posts with tag <i>#{{ .Title }}</i></h1>

  <div class="archive__group-posts">
    {{ range .Pages }}
      <div class="archive__post">
        <h3 class="archive__post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h3>
        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
              <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
            {{ end }}
          </span>
        {{ end }}
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
