<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'EAET7ZFN10',
    apiKey: 'b0517105ac0ffa200721714551c8f01e',
    siteId: '7f38e56f-08af-41fd-9685-7ed1badec966',
    branch: 'master',
    selector: 'div#search',
  });
</script>
